.IssueEntry {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  border: 1px solid;
  font-size: 0.8rem;

  &__title {
    white-space: pre;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
  }
  &__time {
    flex-shrink: 0;
  }
  &__actions {
    flex-shrink: 0;
    display: inline-flex;
  }
}
